@CHARSET "ISO-8859-1";

.ui-layout-unit-content {
	background-image: url("background.png");
}

#j_idt21-resizer{
	background-color: black;
}

#j_idt21{
	background-color: black;
}

.ui-widget-content{
	    background-color: rgba(0,0,0,0.25) !important;
	   
}

#textoContato{
	background-color: #ffffffa1;
	height: auto;
	width: 600px;
	border-radius: 2px;
	
}

#textoClube{
	background-color: rgba(0,0,0,0.25) !important;
	height: auto;
	border-radius: 2px;
}

#map{
	margin-top: -235px;
	margin-left: 700px;
	
}

#texto2{
	 padding: 10px;
}

#imgVip{
	margin-left: 200px;
}


.caixa #estrutura #linha #card #texto{
	font-family:'Ubuntu Condensed';	font-size: 15px;text-align: justify;
}

.caixa #estrutura h2{
	font-family:'Ubuntu Condensed';
	padding:15px;
	text-transform: uppercase;
	text-shadow: 5px 1px 5px #795548;
}

#j_idt23{
	margin-left: 650px;
    margin-top: 10px;
}

#j_idt22{
	margin-left: 540px;
	margin-top:5px;
}


