@CHARSET "ISO-8859-1";

.ui-layout-unit-content {
	background-image: url("background.png");
}

#j_idt21-resizer{
	background-color: black;
}

#j_idt21{
	background-color: black;
}

.ui-widget-content{
	background-color: black;	
}

#textoContato{
	background-color: #ffffffa1;
	height: auto;
	width: 600px;
	border-radius: 2px;
	
}

#map{
	margin-top: -235px;
	margin-left: 700px;
	
}

#texto2{
	 padding: 10px;
}

#imgVip{
	margin-left: 200px;
}

